.answer__list {
  @include reset-list;
}

.answer__item {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: 1rem;
}

.answer__item input {
  flex-basis: 50%;
}

.answer__text {
  flex-basis: 50%;
}

.answer__item--border-true {
  border: 2px solid green;
  border-radius: 10px;
}

.answer__item--border-false {
  border: 2px solid red;
}
