@mixin between {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@mixin evenly {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

