@import "~bootstrap/scss/bootstrap";
@import "./components/status.scss";
// @import "./components/answer.scss";

// ui kit => reusable components
.ui-btn {
  background-color: #1266f1;
  color: white;
  border: none;
  padding: 1%;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;

  .arrow {
    margin-left: 0.3rem;
  }
}

.header{
    width: 80%;
    margin: 3rem auto;
    display: flex;
    flex-flow: column wrap;
    text-align : center;
}


.answer__list {
  list-style-type: none;
  }