@import "~bootstrap/scss/bootstrap";

.ui-btn {
  background-color: #1266f1;
  color: white;
  border: none;
  padding: 1%;
  font-size: 18px;
  font-weight: 600;
  border-radius: 4px;

  .arrow {
    margin-left: 0.3rem;
  }
}
